# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be committed to version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.framework/**
**/ios/Flutter/Flutter.xcframework
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Executables
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Flutter build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/android/app/debug
/android/app/profile
/android/app/release

# Web
lib/generated_plugin_registrant.dart

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xcbkptlist
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vscode/*
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.xcframework
**/ios/**/Pods/
**/ios/**/Flutter/GeneratedPluginRegistrant.*
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# Android/Linux/Windows
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
